@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);
/*font-family: 'Montserrat', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
/*font-family: 'Roboto Slab', serif;*/
@font-face {
	font-family: 'proximanovacond-regular';
	src: url('fonts/proximanovacond-regular.eot');
	src: local('☺'), url('fonts/proximanovacond-regular.woff') format('woff'), url('fonts/proximanovacond-regular.ttf') format('truetype'), url('fonts/proximanovacond-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
}

.link{
	text-align: right;
}
.link a{
	color: #5fac59;
	font-weight: bold;
}

ul{
	margin: 0;
}

li{
	list-style: none;
}

h1,h2,h3,h4,h5,p{
	margin: 0 auto;
	padding: 0;
}

a:link, a:active, a:visited, a:focus{
	text-decoration: none;
}

.b-slider__content,.b-articles,.b-header-pr,.b-culture,.b-clients__header,.b-ready__block,.b-logos{
	text-align: center;
}

.b-slider__img,.b-relax__img{
	/*max-width: 1400px;*/
	width: 100%;
}

.b-container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	/*outline: 1px solid red;*/
}

.container{
	/*max-width: 940px;*/
	width: 100%;
}

.b-container__header{
	padding: 0;
	/*outline: 1px solid #35fc32;*/
}

.b-header{
	max-height: 115px;
	font-family: 'Montserrat', sans-serif;
}

.b-header__logo{
	line-height: 115px;
	max-width: 25%;
}

.b-header__link{
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.025em;
	color: #555555;
	margin-left: 5px;
	-webkit-transition: ease-out, color 0.5s ease-in;
	-moz-transition: ease-out, color 0.5s ease-in;
	-o-transition: ease-out, color 0.5s ease-in;
	-ms-transition: ease-out, color 0.5s ease-in;
	transition: ease-out, color 0.5s ease-in;
}

.b-header__link:hover,.b-header__link:focus{
	color: #7cc576;
}

.b-header__img{
	padding-bottom: 2px;
}

.b-header__menu{
	max-width: 45.75%; /*430px*/
	float: right;
	font-size: 14px;
    text-transform: uppercase;
    line-height: 115px;
    text-decoration: none;
}

.b-header__menu-item{
	display: inline-block;
	padding-right: 6.99%; /*34px*/
}

.b-header__menu-item:last-child{
	padding-right: 0;
}

.b-header__menu-link{
	font-size: 14px;
	color: #9b9b9b;
	-webkit-transition: ease-in 0.5s, color 0.5s ease-in;
	-moz-transition: ease-in 0.5s, color 0.5s ease-in;
	-o-transition: ease-in 0.5s, color 0.5s ease-in;
	-ms-transition: ease-in 0.5s, color 0.5s ease-in;
	transition: ease-in 0.5s, color 0.5s ease-in;
}

.b-header__menu-link:hover{
	color: #222222;
}

.b-header__menu-link:focus{
	color: #9b9b9b;
}

.b-submenu{
	display: none;
	position: absolute;
	top: 70px;
	z-index: 30;
}

.b-submenu_shown{
	display: block;
}

.b-submenu__item{
}

.b-submenu__link{
	display: block;
	padding: 3px 10px;
	line-height: 15px;
	font-size: 14px;
	color: #9b9b9b;
	background: #ffffff;
	border: 1px solid #9b9b9b;
	-webkit-transition: linear 0.4s, all 0.4s linear;
	-moz-transition: linear 0.4s, all 0.4s linear;
	-o-transition: linear 0.4s, all 0.4s linear;
	-ms-transition: linear 0.4s, all 0.4s linear;
	transition: linear 0.4s, all 0.4s linear;
}

.b-submenu__link:hover{
	color: #222222;
	background: #7cc576;
	text-decoration: none;
}

.b-container__slider{
	max-width: 1400px;
	width: 100%;
	max-height: 530px;
    margin: 0;
	/*outline: 1px solid #f41ae6;*/
}

.b-slider{
	max-height: 530px;
	padding: 0;
}

.b-slider__wraper{
	max-width: 1400px; /*width обязательно*/
	width: 100%
}

.b-slider__slides{
	font-size: 0;
	display: block;
	position: relative;
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
	/*outline: 1px solid red; */
}

.b-slider__slide{
	max-width: 1400px;
	width: 100%;
    max-height: 530px;
    display: inline-block;
    /*outline: 1px solid blue; */
}

.b-slider__img{
	max-height: 530px;
	height: 100%;
	width: 100%;
}

.b-slider__content{
	position: absolute;
	top: 110px; /*120px, но 10px отступ от h*/
	left: 31%; /*434px*/
	display: none;
	font-family: 'Montserrat', sans-serif;
}

.b-slider__header{
	font-weight: 700;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	color: #ffffff;
	line-height: 65px;
}

.b-slider__text{
	font-size: 20px;
	letter-spacing: -0.025em;
	color: #9b9a99;
	margin: 35px 0 60px 0; /*40px-5px отступ h*/
	line-height: 17px;
}

.b-slider__btn{
	color: #ffffff;
	background: #7cc576;
	font-weight: 700;
	letter-spacing: -0.025em;
	font-size: 16px;
	border: 1px solid #7cc576;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	text-transform: uppercase;
	padding: 15px 25px;
	-webkit-transition: ease-out 0.6s, all 0.6s ease-in;
	-moz-transition: ease-out 0.6s, all 0.6s ease-in;
	-o-transition: ease-out 0.6s, all 0.6s ease-in;
	-ms-transition: ease-out 0.6s, all 0.6s ease-in;
	transition: ease-out 0.6s, all 0.6s ease-in;
}

.b-slider__btn:hover,.b-slider__btn:focus,.b-content-rx__btn:hover,.b-content-rx__btn:focus{
	color: #222222;
	border: 1px solid #ffffff;
	background: #ffffff;
}

.b-container__articles{
	margin-top: 100px;
	margin-bottom: 100px;    
	padding: 0; 
	/*outline: 1px solid #913a3a;*/
}

.b-articles{
}

.b-articles__header{
}

.b-articles__main,.b-culture__main,.b-header-pr__main,.b-clients__main{
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	letter-spacing: -0.05em;
	color: #222222;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.b-articles__sub,.b-culture__sub{
	font-size: 20px;
	letter-spacing: -0.025em;
	color: #777777;
	line-height: 16px;
	margin: 20px 0 90px;
}

.b-articles__article{
}

.b-article__col,.b-culture__article{
	width: 40.42%; /*280px убрать для xs*/ 
}

.b-article__col:first-child,.b-culture__article:first-child{
	width: 29.79%; /*280px убрать для xs*/
	/*margin-left: -20px;*/
}

.b-article__col:last-child,.b-culture__article:last-child{
	width: 29.79%; /*280px убрать для xs*/
}

.b-article__link{
}

.b-article__img{
}

.b-article__header,.b-culture__header-ar{
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: -0.025em;
	color: #222222;
	line-height: 13px;
	margin: 37px 0 19px;
	font-weight: 700;
}

.b-article__text,.b-culture__text{
	letter-spacing: -0.025em;
	color: #777777;
	max-width: 274px;
}

.b-container__relax{
    margin: 0;
	/*outline: 1px solid #a5299f;*/
}

.b-relax{
	max-width: 1400px;
	width: 100%;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.b-relax__image{
	margin: 0;
}

.b-relax__img{
	width: 100%;
	height: 100%;
}

.b-relax__content-rx{
	margin: 0;
}

.b-content-rx{
	position: absolute;
	top: 100px;
	left: 1400px; 	/*left: 530px; в js*/ 
	font-size: 16px;
	max-width: 650px;
}

.b-content-rx__header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	max-height: 82px;
	color: #ffffff;
}

.b-content-rx__symbol{
	color: #7cc576;
}

.b-content-rx__text{
	letter-spacing: -0.025em;
	color: #9b9a99;
	max-height: 43px;
	margin: 45px 0 20px;
	max-width: 100%;
}

.b-content-rx__list{
	color: #a2a3a3;
	letter-spacing: -0.025em;
	margin: 0;
}

.b-content-rx__item{
	margin-bottom: 10px;
}

.b-content-rx__item:last-child{
	margin-bottom: 0;
}

.b-content-rx__img{
	margin-right: 30px;
}

.b-content-rx__btn{
	margin-top: 50px;
	color: #ffffff;
	background: #7cc576;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: -0.025em;
	font-size: 16px;
	border: 1px solid #7cc576;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	text-transform: uppercase;
	padding: 15px 25px;
	-webkit-transition: ease-out 0.6s, all 0.6s ease-in;
	-moz-transition: ease-out 0.6s, all 0.6s ease-in;
	-o-transition: ease-out 0.6s, all 0.6s ease-in;
	-ms-transition: ease-out 0.6s, all 0.6s ease-in;
	transition: ease-out 0.6s, all 0.6s ease-in;
}

.b-container__project{
	margin-top: 100px;  
	/*outline: 1px solid #37e571;*/
}

.b-project{
	position: relative;
	overflow: hidden;
	white-space: nowrap;
}

.b-project__header-pr{
}

.b-header-pr{
	margin-bottom: 90px;
}

.b-header-pr__main{
}

.b-header-pr__sub{
	padding: 0;
	font-size: 20px;
	letter-spacing: -0.025em;
	color: #777777;
	line-height: 16px;
	margin-top: 20px;
}

.b-project__colomns{
	max-height: 520px;
	min-height: 520px;
}

.b-project__first-col{
	position: absolute;
	right: 1400px;
	max-width: 476px;
	width: 50.64%;
	font-size: 16px;
	color: #777777;
	/*outline: 1px solid red;*/
}

.b-project__header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.025em;
	color: #222222;
	line-height: 13px;
	text-transform: uppercase;
}

.b-project__text{
	margin: 20px 0 25px;
	letter-spacing: -0.025em;
	max-height: 63px; 
} 

.b-project__list{
}

.b-project__item{
	margin-bottom: 15px;
}

.b-project__item:last-child{
	margin-bottom: 0;
}

.b-project__icon{
	max-height: 73px;
	max-width: 73px;
	width: 15.34%;
}

.b-project__content{
	max-height: 73px;
	padding-top: 19px;
	margin-left: 17px;
	width: 80.64%;
}

.b-project__list-header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: -0.025em;
	color: #222222;
	line-height: 14px;
}

.b-project__list-text{
	margin-top: 7px;
	letter-spacing: -0.025em;
	line-height: 13px;
}

.b-project__text_bottom{
	letter-spacing: -0.025em;
	max-height: 40px; 
	margin: 16px 0 27px;
}

.b-project__btn{
	background: #ffffff;
	color: #7cc576;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: -0.025em;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	line-height: 13px;
	-webkit-transition: ease-in 0.2s, color 0.6s ease-in;
	-moz-transition: ease-in 0.2s, color 0.6s ease-in;
	-o-transition: ease-in 0.2s, color 0.6s ease-in;
	-ms-transition: ease-in 0.2s, color 0.6s ease-in;
	transition: ease-in 0.2s, color 0.6s ease-in;
}
.b-project__btn:hover,.b-project__btn:focus{
	color: #222222;
}

.b-project__second-col{
	position: absolute;
	left: 1400px; 
	width: 45.5%;
	max-width: 637px;
	margin-top: 10px;
	/*outline: 1px solid #424c87;*/
}

.b-project__img{
	max-height: 510px;
	max-width: 637px;
	width: 100%;
	height: 100%;
}

.b-project__img_hover{
	display: none;
	position: absolute;
	max-height: 510px;
	max-width: 637px;
	width: 100%;
	height: 100%;
}

.b-project__second-col:hover .b-project__img_hover{
	cursor: pointer;
	display: block;
}

.b-container__culture{
	margin-top: 150px;
	margin-bottom: 100px;    
	padding: 0;
	/*outline: 1px solid #424c87;*/
}

.b-culture{
}

.b-culture__header{
}

.b-culture__main{
}

.b-culture__sub{
}

.b-culture__block{
	position: relative;
}

.b-culture__articles{
	margin: 0;
}

.b-culture__article{
}

.b-culture__article:first-child{
}

.b-culture__article:last-child{
}

.b-culture__link{
}

.b-culture__img{
	max-width: 221px;
	max-height: 220px;
	width: 23.51%;
}

.b-culture__header{
}

.b-culture__text{
}

.b-culture__img-line{
	position: absolute;
	top: 46px;
}

#line1{
	left: 23.40%; /*220px*/
}

#line2{
	right: 23.40%; /*220px*/
}

.b-container__clients{
	margin-top: 100px;  
	margin-bottom: 75px;  
	padding: 0;
	/*outline: 1px solid #21eddf;*/
}

.b-clients{
	color: #777777;
}

.b-clients__header{
}

.b-clients__main{
}

.b-clients__sub{
	font-size: 20px;
	letter-spacing: -0.025em;
	line-height: 16px;
	margin: 20px 0 90px;
}

.b-clients__row{
}

.b-clients__firstblock,.b-clients__secondblock{
	max-height: 220px;
	min-height: 220px;
	width: 76.49%; /*719px*/
	padding: 0;
}

.b-clients__firstblock{
	background: url(../images/box_right.png) center no-repeat;
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-ms-background-size: 100%;
	padding: 65px 0 0 91px;
	margin-bottom: 40px;
}

.b-clients__secondblock{
	background: url(../images/box_left.png) center no-repeat;
	padding:  65px 0 0 80px;
}

.b-clients__quote{
	 font-size: 22px;
}

.b-clients__author{
	 font-size: 18px;
	 color: #7cc576;
	 padding-left: 65px;
	 line-height: 15px;
	 margin-top: 15px;
}

.b-clients__author:last-child{
	 padding-left: 90px;
}

.b-container__ready{
	/*outline: 1px solid #543368;*/
}

.b-ready{
	background: #7cc576;
	max-height: 250px;
	padding-top: 70px;
	padding-bottom: 70px;
}

.b-ready__block{
	display: none;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.b-ready__header{
	font-size: 40px;
	letter-spacing: -0.05em;
	line-height: 30px;
	text-transform: uppercase;
}

.b-ready__btn{
	margin-top: 30px;
	font-size: 18px;
	letter-spacing: -0.025em;
	text-transform: uppercase;
	line-height: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border: 3px solid #ffffff;
	background: #7cc576;
	padding: 16px 28px;
	-webkit-transition: ease-out 0.6s, all 0.6s ease-in;
	-moz-transition: ease-out 0.6s, all 0.6s ease-in;
	-o-transition: ease-out 0.6s, all 0.6s ease-in;
	-ms-transition: ease-out 0.6s, all 0.6s ease-in;
	transition: ease-out 0.6s, all 0.6s ease-in;
}

.b-ready__btn:hover, .b-ready__btn:focus{
	background: #ffffff;
	color: #7cc576;
}

.b-container__logos{
	/*outline: 1px solid #d05bd8;*/
}

.b-logos{
	margin-top: 60px;
	margin-bottom: 60px;
}

.b-logos__link{
}

.b-logos__img{
}

.b-container__form{
	padding: 0;
	margin: 80px auto;
	/*outline: 1px solid #2F4F4B;*/
}

.b-container__form-header{
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #7cc576;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.b-form{
}

.b-form__message{
	border: 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
    margin: 10px 0;
    padding: 10px;
	display: none;
}

.b-textfield_error{
	box-shadow:	0 0 2px red;
	-webkit-box-shadow: 0 0 2px red;
	-moz-box-shadow: 0 0 2px red;
	-o-box-shadow: 0 0 2px red;
	-ms-box-shadow: 0 0 2px red;
}

.b-form__message_error{
	background: none repeat scroll 0 0 #FF0000;
    border-color: #E30000;
    color: #FFFFFF;
}

.b-form__table{
	width: 50%;
 	line-height: 40px;
 	margin: 0 auto;
}

th{
	font-size: 20px;
}

td{
 	font-size: 16px;
}

tr:nth-child(even):hover, tr:nth-child(even):hover td{
	background: #b9eab4;
	-webkit-transition: linear 0.4s, all 0.4s linear;
	-moz-transition: linear 0.4s, all 0.4s linear;
	-o-transition: linear 0.4s, all 0.4s linear;
	-ms-transition: linear 0.4s, all 0.4s linear;
	transition: linear 0.4s, all 0.4s linear;
}

tr:nth-child(odd):hover, tr:nth-child(odd):hover td{
	background: #DDDDDD;
	-webkit-transition: linear 0.4s, all 0.4s linear;
	-moz-transition: linear 0.4s, all 0.4s linear;
	-o-transition: linear 0.4s, all 0.4s linear;
	-ms-transition: linear 0.4s, all 0.4s linear;
	transition: linear 0.4, all 0.4s linear;
}

.b-form__label_name{
}

.b-form__name{
}

.b-textfield{
	border: none;
	width: 100%;
	line-height: 40px;
}

.b-textfield:nth-child(even):hover, tr:nth-child(even):hover .b-textfield{
	background-color: #deffdb; 
	cursor: default;
}

.b-textfield:nth-child(odd):hover, tr:nth-child(odd):hover .b-textfield{
	background-color: #f9f7f7; 
	cursor: default;
}

.b-textfield:focus,.b-textfield:active{
	background: #f2f9ff;
}

.b-form__label_age{
}

.b-form__age{
}

.b-form__label_review{
}

.b-form__review{
}

td:last-child{
	text-align: center;
	background: #ffffff;
}

tr:nth-child(odd):hover td:last-child:hover{
	background: #ffffff;
}

.b-form__ok-btn{
	color: #ffffff;
	background: #7cc576;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	letter-spacing: -0.025em;
	font-size: 16px;
	border: 1px solid #7cc576;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	text-transform: uppercase;
	padding: 15px 25px;
	width: 30%;
	-webkit-transition: ease-out 0.6s, all 0.6s ease-in;
	-moz-transition: ease-out 0.6s, all 0.6s ease-in;
	-o-transition: ease-out 0.6s, all 0.6s ease-in;
	-ms-transition: ease-out 0.6s, all 0.6s ease-in;
	transition: ease-out 0.6s, all 0.6s ease-in;
}

.b-form__ok-btn:hover,.b-form__ok-btn:focus{
	color: #222222;
	border: 1px solid #222222;
}

.ok{
	background: url(http://bumagus.justclick.ru/media/content/bumagus/%D0%B3%D0%B0%D0%BB%D0%BE%D1%87%D0%BA%D0%B0.png) no-repeat top right;
	background-size: 10px 10px;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	-o-background-size: 10px 10px;
	-ms-background-size: 10px 10px;
}

.error{
	background: url(http://img2.wikia.nocookie.net/__cb20140717154201/novorossia/ru/images/1/10/%D0%9A%D1%80%D0%B5%D1%81%D1%82%D0%B8%D0%BA.png) no-repeat top right;
	background-size: 10px 10px;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	-o-background-size: 10px 10px;
	-ms-background-size: 10px 10px;
}

.b-container__clock{
	padding: 50px 0 40px;
	margin: 0 auto;
	background: #222222;
	/*outline: 1px solid red;*/
}

.b-container__clock-header{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 40px;
	color: #13df13;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.b-clock{
	text-align: center; 
	display: block;
}

.b-clock li{
	color: #000000;
	background: #13df13; /* Old browsers */
	background: -moz-linear-gradient(top,  #13df13 0%, #1d3505 66%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #13df13 0%,#1d3505 66%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #13df13 0%,#1d3505 66%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#13df13', endColorstr='#1d3505',GradientType=0 ); /* IE6-9 */
	font-size: 100px;
	text-shadow: 0 0 2px #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	text-align: center;
	display: inline-block;
}

.date{
	width: 8.57%; /*130px*/
}

.b-clock__point{
	margin: 0 10px; 
	width: 3.93%; /*55px поменять для xs*/
}

.b-container__contacts{
	background: #222222;
	margin: 0;
	/*outline: 1px solid #89062e;*/
}

.b-contacts{
	margin: 0 auto;
	padding: 60px 0; 
	color: #b6b6b6; 
	font-size: 16px;
}

.b-contacts__col{
}

.b-contacts__col:last-child{
	padding-left: 3.83%; /*36px. убрать для xs*/ 
}

.b-contacts__header{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -0.025em;
	font-size: 18px;
	line-height: 13px;
	margin-bottom: 30px;
	color: #ffffff;
}

.b-contacts__text{
	margin: -2px 0 20px 40px;
}

.b-contacts__text:first-child{
	margin-top: -3px;
}

.tel{
	height: 30px;
	margin-top: 0;
	padding-top: 4px;
}

.b-contacts__img{
	position: absolute;
}

.b-contacts__link{
	color: #b6b6b6;
	-webkit-transition: ease-in 0.2s, all 0.2s ease-in;
	-moz-transition: ease-in 0.2s, all 0.2s ease-in;
	-o-transition: ease-in 0.2s, all 0.2s ease-in;
	-ms-transition: ease-in 0.2s, all 0.2s ease-in;
	transition: ease-in 0.2s, all 0.2s ease-in;
}

.b-contacts__link:hover,.b-contacts__link:focus{
	color: #7cc576;
}

.lastcol{
	margin-bottom: 0;
	margin-top: -5px;
}

.b-contacts__hashtag{
	margin: 4px 0 11px 40px;
	font-weight: bold;
	color: #d3d3d3;
	line-height: 14px;
}

.b-contacts__time{
	margin-left: 40px;
	font-family: 'proximanovacond-regular';
	font-size: 12px;
	line-height: 8px;
	margin-bottom: 20px;
}

.b-container__footer{
	display: table;
	padding: 0;
	/*outline: 1px solid #183f47;*/
}

.b-footer{
	height: 100px; /*поменять для xs*/
	display: table-cell;
	vertical-align: middle;
}

.b-footer__copyright{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.025em;
	color: #555555;
	top: 9px; /*поменять для xs*/
}

.b-footer__socials{
	display: block;
	font-size: 0;
	left: 6.56%; /*61.67px убрать для xs*/
}

.b-footer__social{
	display: inline-block;
	margin-right: 10px;
}

.b-footer__social:last-child{
	margin-right: 0;
}

.b-footer__link{
	background: url(../images/icons_social.png) no-repeat;
	height: 41px;
	width: 40px;
	display: block;
}

#soc1{
	background-position: -1px -43px;
}

#soc2{
	background-position: -51px -43px;
}

#soc3{
	background-position: -101px -43px;
}

#soc4{
	background-position: -151px -43px;
}

.b-footer__social:hover #soc1, .b-footer__social:hover #soc2,.b-footer__social:hover #soc3,.b-footer__social:hover #soc4{
	background: url(../images/icons_social.png) no-repeat;
}

.b-footer__social:hover #soc1{
	background-position: -1px 0;
}

.b-footer__social:hover #soc2{
	background-position: -51px 0;
}

.b-footer__social:hover #soc3{
	background-position: -101px 0;
}

.b-footer__social:hover #soc4{
	background-position: -151px 0;
}

.b-footer__btn{
	display: none;
	float: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #ffffff;
	letter-spacing: -0.025em;
	text-transform: uppercase;
	line-height: 13px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #7cc576;
	background: #7cc576;
	padding: 11px 0;
}

.b-footer__btn:hover, .b-footer__btn:focus{
	color: #222222;
	border: 1px solid #222222;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.col-xs-12,.col-xs-12,.col-md-12,.col-md-4,.col-md-6,.col-md-3,.col-md-1{
	padding-left: 0;
	padding-right: 0;
}

.row{
	margin-right: 0;
	margin-left: 0;
}

@media screen and (max-width: 599px){
	.b-header__logo{
		line-height: 50px;
		max-width: 100%;
	}
	.b-header__menu{
		max-width: 100%; /*430px*/
		float: left;
		line-height: 50px;
		display: table; 
	}
	.b-header__menu-item{
		display: table-cell;
		padding-right: 1%;
	}
	.b-submenu{
		top: 35px;
	}
	.b-slider__content{
		top: 7%; 
		left: 20%;
	}
	.b-slider__header{
		font-size: 23px;
		line-height: 20px;
	}
	.b-slider__text{
		font-size: 12px;
		margin: 15px 0 15px 0;
	}
	.b-slider__btn{
		font-size: 10px;
		padding: 5px 10px;
	}
	.b-container__articles{
		margin: 30px auto;
	}
	.b-articles__main,.b-culture__main,.b-clients__main,.b-ready__header,.b-container__form-header,{
		font-size: 25px;
	}
	.b-articles__sub,.b-culture__sub,.b-clients__sub{
		font-size: 16px;
		margin-bottom: 30px;
	}
	.b-article__col,.b-article__col:first-child,.b-article__col:last-child,.b-culture__article,.b-culture__article:first-child,.b-culture__article:last-child,.b-contacts__col{
		width: 100%;
		margin-bottom: 10%;
	}
	.b-content-rx{
		top: 5%;
		margin-left: -7%;
	}
	.b-content-rx__header{
		font-size: 17px;
	}
	.b-content-rx__text{
		margin: 5px 0 5px;
		font-size: 7px;
		max-width: 10%;
	}
	.b-content-rx__img{
		margin-right: 1%;
		max-width: 4%;
	}
	.b-content-rx__item{
		font-size: 9px;
	}
	.b-content-rx__item{
		margin-bottom: 0;
	}
	.b-content-rx__btn{
		margin-top: 1px;
		padding: 0 2px;
		font-size: 8px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
	}
	.b-container__project{
		margin-top: 30px;  
	}
	.b-header-pr{
		margin-bottom: 20px;
	}
	.b-header-pr__main{
		font-size: 25px;
	}
	.b-header-pr__sub{
		font-size: 16px;
		margin-top: 2%;
	}
	.b-project__colomns{
		min-height: 780px;
	}
	.b-project__first-col{
		margin-left: -16%;
		font-size: 15px;
		width: 100%;
	}
	.b-project__text{
		margin: 10px auto;
		font-size: 12px;
	}
	.b-project__item{
		margin-bottom: 5px;
	}
	.b-project__icon{
		width: 100%;
		left: 40%;
	}
	.b-project__content{
		margin-left: 0;
		padding-top: 2%;
		width: 100%;
	}
	.b-project__list-header,.b-project__list-text,.b-project__header,.b-project__text{
		width: 100%;
		text-align: center;
	}
	.b-project__list-text{
		font-size: 13px;
	}
	.b-project__text_bottom{
		margin: 10px 0 10px;
		font-size: 12px;
	}
	.b-project__second-col{
		width: 100%;
		top: 600px;
		margin-left: -55%;
	}
	.b-container__culture{
		margin-top: 30px;
		margin-bottom: 30px;    
	}
	.b-culture__sub{
		margin-top: 1%;
	}
	.b-culture__img-line{
		display: none;
	}
	.b-container__clients{
		margin-top: 30px;
		margin-bottom: 30px;  
	}
	.b-clients__sub{
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.b-clients__firstblock,.b-clients__secondblock{
		background-size: 100%;
	    -webkit-background-size: 100%;
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    -ms-background-size: 100%;
	    padding: 0;
	    background-position: top;
	    min-height: 90px;
	    margin-bottom: 1%;
	}
	.b-clients__quote{
		font-size: 8px;
		margin: 5% 0 0 5%;
	}
	.b-clients__author,.b-clients__author:last-child{
		font-size: 8px;
		padding-left: 20%;
	}
	.b-ready{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.b-logos{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.b-logos__img{
		margin-bottom: 3%;
	}
	.b-container__form{
		margin: 40px auto;
	}
	.b-form__table{
		width: 100%;
	 	line-height: 30px;
	 	margin: 0;
	}
	.b-container__clock{
		padding: 10px 0 10px;
	}
	.b-container__clock-header{
		font-size: 21px;
	}
	.b-clock li{
		font-size: 38px;
	}
	.date{
		width: 13%; 
	}
	.b-clock__point{
		width: 3%;
		margin: 0 5px; 
	}
	.b-contacts__col{
		padding-left: 7%;
	}
	.b-contacts__col:last-child{
		padding-left: 7%; 
	}
	.b-contacts{
		padding: 10% 0;
	}
	.b-footer{
		height: 200px;
		vertical-align: top;
	}
	.b-footer__copyright{
		width: 100%;
		margin: 5% 0;
	}
	.b-footer__socials{
		width: 100%;
		margin: 5% 0;
		left: 0;
	}
	.b-footer__btn{
		width: 40%;
		margin: 5% 0;
		float: left;
	}
}

@media (min-width: 600px) and (max-width: 796px){
	.b-header__logo{
		line-height: 60px;
	}
	.b-header__menu{
		max-width: 100%; /*430px*/
		float: left;
		line-height: 70px;
	}
	.b-slider__content{
		top: 8%; 
		left: 20%;
	}
	.b-slider__header{
		font-size: 50px;
		line-height: 43px;
	}
	.b-slider__text{
		margin: 25px 0 30px 0;
	}
	.b-slider__btn{
		padding: 10px 20px;
		font-size: 14px;
	}
	.b-container__articles{
		margin: 40px auto;
	}
	.b-article__header, .b-culture__header-ar{
		line-height: 16px;
	}
	.b-articles__sub,.b-culture__sub,.b-clients__sub{
		margin-bottom: 30px;
	}
	.b-content-rx{
		top: 8%;
		margin-left: -5%;
	}
	.b-content-rx__header{
		font-size: 27px;
	}
	.b-content-rx__text{
		margin: 10px 0 10px;
		font-size: 12px;
	}
	.b-content-rx__img{
		margin-right: 3%;
		max-width: 4%;
	}
	.b-content-rx__item{
		font-size: 12px;
	}
	.b-content-rx__item{
		margin-bottom: 1%;
	}
	.b-content-rx__btn{
		margin-top: 15px;
		padding: 4px 12px;
		font-size: 11px;
		border-radius: 12px;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		-o-border-radius: 12px;
		-ms-border-radius: 12px;
	}
	.b-container__project{
		margin-top: 50px;  
	}
	.b-header-pr{
		margin-bottom: 40px;
	}
	.b-project__colomns{
		min-height: 350px;
	}
	.b-project__first-col{
		margin-left: -13%;
		font-size: 15px;
		max-width: ;
	}
	.b-project__text{
		margin: 10px auto;
	}
	.b-project__list-text, .b-project__text{
		font-size: 11px;
	}
	.b-project__item{
		margin-bottom: 5px;
	}
	.b-project__icon{
		max-width: 60px;
	}
	.b-project__content{
		margin-left: 1%;
		padding-top: 12px;
	}
	.b-project__text_bottom{
		margin: 5px 0 15px;
	}
	.b-container__culture{
		margin-top: 20px;
		margin-bottom: 15px;    
	}
	.b-culture__sub{
		margin-top: 1%;
	}
	.b-culture__img-line{
		display: none;
	}
	.b-container__clients{
		margin-bottom: 40px;  
	}
	.b-clients__sub{
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.b-clients__firstblock,.b-clients__secondblock{
		background-size: 100%;
	    -webkit-background-size: 100%;
	    -moz-background-size: 100%;
	    -o-background-size: 100%;
	    -ms-background-size: 100%;
	    padding: 3px;
	    background-position: top;
	    min-height: 90px;
	    margin-bottom: 4%;
	}
	.b-clients__quote{
		font-size: 16px;
		margin: 8% 0 5% 5%;
	}
	.b-clients__author,.b-clients__author:last-child{
		font-size: 13px;
		padding-left: 20%;
	}
	.b-ready{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.b-ready__header{
		line-height: 35px;
	}
	.b-logos{
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.b-logos__img{
		margin-bottom: 3%;
	}
	.b-container__form{
		margin: 20px auto;
	}
	.b-form__table{
		width: 80%;
	}
	.b-container__clock{
		padding: 30px 0 30px;
	}
	.b-clock li{
		font-size: 59px;
	}
	.date{
		width: 13%; 
	}
	.b-clock__point{
		width: 4%;
	}
	.b-contacts{
		padding: 25px 0;
	}
	.b-contacts__col{
		width: 33.33%;
	}
	.b-contacts__col:first-child{
		padding-left: 10px; 
	}
	.b-contacts__text, .b-contacts__hashtag{
		font-size: 11px;
	}
	.b-footer__copyright{
		width: 43%;
		margin: 2% 0;
		font-size: 12px;
	}
	.b-footer__socials{
		width: 35%;
		margin: 2% 0;
		left: 0;
	}
	.b-footer__btn{
		width: 20%;
		margin: 2% 0;
		float: none;
	}
}

@media (min-width: 797px) and (max-width: 985px){ // 768-939
	.b-header__logo{
		line-height: 70px;
	}
	.b-header__menu{
		max-width: 70%; /*430px*/
	}
	.b-submenu{
		top: 50px;
	}
	.b-slider__content{
		top: 8%; 
		left: 20%;
	}
	.b-slider__text{
		margin: 20px 0 35px 0;
	}
	.b-slider__btn{
		padding: 10px 20px;
	}
	.b-container__articles{
		margin: 50px auto;
	}
	.b-content-rx{
		top: 2%;
		margin-left: -7%;
	}
	.b-content-rx__text{
		margin: 20px 0 10px;
	}
	.b-content-rx__btn{
		margin-top: 20px;
		padding: 10px 20px;
	}
	.b-container__project{
		margin-top: 50px;  
	}
	.b-header-pr{
		margin-bottom: 60px;
	}
	.b-header-pr{
		margin-bottom: 55px;
	}
	.b-project__colomns{
		min-height: 380px;
	}
	.b-project__first-col{
		margin-left: -13%;
		font-size: 15px;
	}
	.b-project__text{
		margin: 10px auto;
	}
	.b-project__item{
		margin-bottom: 5px;
	}
	.b-project__icon{
		max-width: 60px;
	}
	.b-project__content{
		margin-left: 1%;
		padding-top: 12px;
	}
	.b-project__text_bottom{
		margin: 5px 0 15px;
	}
	.b-container__culture{
		margin-top: 50px;
		margin-bottom: 50px;    
	}
	.b-container__clients{
		margin-top: 50px;
		margin-bottom: 35px;  
	}
	.b-clients__sub{
		margin-bottom: 45px;
	}
	.b-ready__header{
		font-size: 37px;
	}
	.b-logos{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.b-logos__img{
		margin-bottom: 3%;
	}
	.b-container__form{
		margin: 40px auto;
	}
	.date{
		width: 14%; 
	}
	.b-clock__point{
		width: 4%;
	}
	.b-contacts__col{
		width: 33.33%;
	}
	.b-contacts__col:last-child{
		padding-left: 0; 
	}
	.b-footer__copyright{
		width: 37%;
		margin: 2% 0;
	}
	.b-footer__socials{
		width: 35%;
		margin: 2% 0;
		left: 3%;
	}
	.b-footer__btn{
		width: 20%;
		margin: 2% 0;
		float: right;
	}
}

@media (min-width: 450px) and (max-width: 599px){
	.b-slider__content{
		top: 10%; 
		left: 25%;
	}
	.b-slider__header{
		font-size: 32px;
		line-height: 27px;
	}
	.b-slider__text{
		font-size: 15px;
		margin: 20px 0 24px 0;
	}
	.b-slider__btn{
		font-size: 12px;
		padding: 5px 14px;
	}
	.b-content-rx{
		top: 5%;
		margin-left: -6%;
	}
	.b-content-rx__header{
		font-size: 20px;
	}
	.b-content-rx__text{
		margin: 10px 0 10px;
		font-size: 9px;
	}
	.b-content-rx__img{
		margin-right: 2%;
		max-width: 4%;
	}
	.b-content-rx__item{
		font-size: 10px;
	}
	.b-content-rx__item{
		margin-bottom: 1%;
	}
	.b-content-rx__btn{
		margin-top: 10px;
		padding: 2px 8px;
		font-size: 9px;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-o-border-radius: 8px;
		-ms-border-radius: 8px;
	}
}

@media (min-width: 940px) and (max-width: 1154px){
	.b-slider__content{
		top: 35px; 
		left: 25%;
	}
	.b-content-rx{
		top: 15px;
	}
	.b-project__first-col{
		margin-left: -9%;
	}
	.date{
		width: 12%; 
	}
	.b-clock__point{
		width: 5%;
	}
	.b-contacts__col{
		width: 33.33%;
	}
	.b-contacts__col:last-child{
		padding-left: 0; 
	}
	.b-footer__copyright{
		width: 30%;
	}
	.b-footer__socials{
		width: 50%;
	}
	.b-footer__btn{
		width: 20%;
		float: left;
	}
}

@media (min-width: 1155px){
	.b-container {
    	max-width: 1400px;
	}
	.container {
    	max-width: 940px;
	}
}
